{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>What</th>
                    <th>When</th>
                    <th>Complete?</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for cRUD in cRUDs|reverse %}
                    <tr {% if cRUD.done %} class="bg-success" {% endif %}>
                        <td>{{ cRUD.text }}</td>
                        <td>{% if cRUD.date %}{{ cRUD.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if cRUD.done %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('posts_show', { 'id': cRUD.id }) }}"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a>
                            <a class="btn btn-default" href="{{ path('posts_edit', { 'id': cRUD.id }) }}"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
